includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: max
    paths:
        - src
        - app
        - config
        - public
        - tests
    tmpDir: var/cache/phpstan
